/* TEA STATION PROJECT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Bruno Ace SC', cursive; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*===============
GLOBAL VARIABLES
===============*/

:root{
    --clr-green-1: rgb(23, 144, 23);
    --clr-green-5: rgba(25, 218, 25, 0.625);
    --clr-green-10: rgba(5, 148, 5, 0.93);
    --clr-white: #ffffffda;
    /* --clr-lg-green: linear-gradient(rgb(7, 134, 7), rgb(199, 205, 28)); */
}

/*===============
NAVBAR
===============*/
.nav-btn{
    position: fixed;
    top: 5%;
    left: 5%;
    font-size: 4rem;
    color: var(--clr-green-10);
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
    /* animation */
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.navbar{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #e3d9d9;
    z-index: 2;
    box-shadow: 2px 0 2px grey;
    /* Hide navbar */
    /* transform: translateX(-100%);  */
    display: none;
    transition: all 0.5s;
}
.navbar-header{
    text-align: right;
    padding-right: 1rem;
}
.nav-close{
    font-size: 2.5rem;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.668);
    transition: all 0.3s;
}
.nav-close:hover{
    color: red;
}

.nav-items a{
    list-style-type: none;
    display: block;
    margin-bottom: 0.25rem;
}
.nav-link{
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    color:#4e4a4a;
    transition: all 0.3s;
}
.nav-link:hover{
    background: rgba(15, 183, 15, 0.852);
    color: rgb(1, 53, 1);
    padding-left: 1.5rem;
    border-left: 0.25rem solid var(--clr-green-10);
}

/* @MEDIA QUERY */
@media (min-width: 680px){
    
    .navbar{
        width: 30vw;
        max-width: 20em;
    }
}

/*
===============
ANIMATION BUTTON
================
*/

@keyframes bounce{
    0%{
        transform: scale(2);
    }
    
    75%{
        transform: scale(1);
    }

    100%{
        transform: scale(2);
    }
}

/*===============
HEADER - BANNER SECTION
===============*/

.banner{
    background: linear-gradient(rgba(9, 9, 9, 0.66), rgba(0, 0, 0, 0.359)), url('/images/main-bcg.jpeg') center/cover no-repeat fixed;
    height: 100vh;
    position: relative;
}

.banner-center{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-info h4{
    font-size: 1.8rem;
    color: var(--clr-green-5);
    text-transform: capitalize;
    margin-bottom: 1.25rem;
    /* animation */
    animation-name: slide-in;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
.banner-info h1{
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 5px;
    color: var(--clr-white);
    text-transform: uppercase;
    margin-bottom: 2rem;
    /* animation */
    animation-name: slide-out;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}

.btn{
    padding: 1.25rem 1.75rem;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: var(--clr-green-10);
    border: none;
    transition: all 0.5s;
    color: var(--clr-white);
    outline: 3px solid green;
    outline-offset: 3px;
     /* animation */
     animation-name: slide-button;
     animation-duration: 3s;
     animation-delay: 0.5s;
     animation-iteration-count: 1;
 }

.btn:hover{
    background: var(--clr-white);
    color: var(--clr-green-10);
}

/* @MEDIA QUERY */
@media (min-width: 768px){
    
    .banner-info h4{
        font-size: 2.1rem;
    }
    .banner-info h1{
        font-size: 4rem;
        line-height: 5.5rem;
    }
}

/* ANIMATION */

@keyframes slide-in{
    0%{
        transform: translateX(-200px);
        opacity: 0.3;
    }
    75%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0px);
    }
}
/* ANIMATION 2*/

@keyframes slide-out{
    0%{
        transform: translateX(200px);
        opacity: 0.3;
    }
    75%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}
/* ANIMATION 3*/

@keyframes slide-button{
    0%{
        transform: scale(1.8);
        opacity: 0.3;
    }
}

/*===============
CONTENT DIVIDER
===============*/

.content-divider {
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(
        to left,
        var(--clr-green-1),
        #e9b949,
      var(--clr-green-1)
    );
  }

/*===============
SKILLS SECTION
===============*/

.skills{
    background: #c1bfbf5b;
}

.skills-center{
    text-align: center;
}

.skills-cards{
    height: 250px;
    padding: 2.75rem 1rem;
    transition: all 0.5s;
    /* border: 2px solid red; */
}

.skills-info h2{
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
}
.skills-info p{
    color: rgb(152, 149, 149);
}

ion-icon{
    font-size: 2.5rem;
    color: var(--clr-green-10);
    margin-bottom: 1.25rem;
    transition: all 0.3s;
}

.skills-cards:hover{
    background: var(--clr-white);
    box-shadow: 0 2px 5px rgb(18, 141, 14);
}
.skills-cards:hover ion-icon{
    transform: translateY(-10px);
}

/* @MEDIA QUERY */
@media (min-width: 600px){
    
    .skills-center{
        display: flex;
        flex-wrap: wrap;
    }
    .skills-cards{
        width: 50%;
    }
}

/* @MEDIA QUERY */
@media (min-width: 1200px){
    
    .skills-center{
        display: flex;
        flex-wrap: wrap;
    }
    .skills-cards{
        width: 25%;
    }
}

/*===============
ABOUT SECTION
===============*/

.about{
    background: var(--clr-white);
    padding-top: 2rem;
}

.about-img-container{
    width: 420px;
    height: 320px;
    background: var(--clr-green-5);
    margin: 3rem 2rem;
    max-width: 30rem;
    overflow: hidden;
    border: 0.5rem solid var(--clr-green-10);
}
.about img{
    width: 420px;
    height: 320px;
    transition: all 0.3s;
}
.about-img-container:hover img{
    transform: scale(1.2);
    opacity: 0.5;
}

.about-center{
    /* margin: 0 auto; */
    padding-left: 2rem;
}

.about-info h4{
    color: var(--clr-green-10);
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 1rem;
}
.about-info h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}
.about-info p{
    color: grey;
    margin-bottom: 1rem;
    max-width: 25em;
}
.about-info .btn{
    margin: 1.5rem 0;
    margin-bottom: 8em;
    font-size: 14px;
    padding: 0.5rem;
}

/* @MEDIA QUERY */
@media (min-width: 768px){
    
    .about-info h4{
        font-size: 28px;
    }
    .about-info h1{
        font-size: 38px;
    }
    .about-info p{
        font-size: 1.10rem;
    }
    .about-info .btn{
        font-size: 18px;
        padding: 1rem;
    }
    
}
/* @MEDIA QUERY */
@media (min-width: 940px){
    
    .about{
        display: flex;
        flex-direction: row;
    }
    .about-center{
        margin: 2rem 0;
    }
    .about-info h4{
        margin-bottom: 0.5rem;
    }
    .about-info p{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        max-width: 28em;
    }
    .about-info .btn{
        font-size: 14px;
        padding: 0.75rem;
    }
}

/* @MEDIA QUERY */
@media (min-width: 1200px){
    
    .about{
        justify-content: center;
        gap: 5rem;
    }
}

/*==================
OUR PRODUCTS SECTION
=====================*/

.our-products{
    background: #c1bfbf5b;
    /* padding-left: 2rem; */
    padding-bottom: 6rem;
}

.our-products-info{
    padding-left: 2rem;
}
.our-products-info h4{
    color: var(--clr-green-10);
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 1rem;
    padding-top: 6rem;
}
.our-products-info h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}
.our-products-info p{
    color: grey;
    margin-bottom: 1rem;
    max-width: 28em;
    font-size: 14px;
}
.our-products-info .btn{
    margin: 1.5rem 0;
    margin-bottom: 5em;
    font-size: 14px;
    padding: 0.5rem;
}

.our-products-center{
    padding: 0.5rem;
    padding-left: 2rem;
}

.our-products-cards img{
    margin: 1.5rem 0;
    border-radius: 5%;
    width: 420px;
    height: 300px;
    transition: all 0.3s;
    box-shadow: 0px 2px 5px grey;
}

.products-info h4{
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 0.5rem;
    letter-spacing: 5px;
    margin-top: -0.75rem;
}
.products-info span{
    color: var(--clr-green-10);
}

/* @MEDIA QUERY */
@media (max-width: 768px){
    
    .our-products-cards img{
        width: 80%;
    }
}
/* @MEDIA QUERY */
@media (min-width: 768px){
    
    .our-products-info h4{
        font-size: 30px;
    }
    .our-products-info h1{
        font-size: 40px;
    }
    .our-products-info p{
        font-size: 18px;
    }
    .our-products-info .btn{
        margin: 1.5rem 0;
        margin-bottom: 5em;
        font-size: 14px;
        padding: 1rem 1.25rem;
    }
    .our-products-center{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .our-products-cards img{
        width: 320px;
        height: 300px;
    }
}
/* @MEDIA QUERY */
@media (min-width: 1250px){
    
    .our-products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1rem;
    }
    .our-products-center{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-top: 4.5rem;
    }
    .our-products-info{
        width: 30%;
    }
    .our-products-info p{
        max-width: 22em;
        font-size: 16px;
    }
    .our-products-cards img{
        width: 250px;
        height: 250px;
    }
}
/* @MEDIA QUERY */
@media (min-width: 1300px){

    .our-products-info p{
        max-width: 22em;
        font-size: 16px;
    }
    .our-products-center{
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .our-products-cards img{
        width: 250px;
        height: 250px;
    }
}

/*==================
OUR SERVICES SECTION
=====================*/


.our-services-info{
    text-align: center;
}
.our-services-info h4{
    color: var(--clr-green-10);
    text-transform: capitalize;
    font-size: 25px;
    margin-bottom: 1rem;
    padding-top: 6rem;
}
.our-services-info h1{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}

.our-services-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6rem;
}
.our-services-cards{
    width: 420px;
    height: 540px;
    margin: 1rem 1.5rem;
    border-radius: 5%;
    background: #c1bfbf43;
    transition: all 0.3s;
    box-shadow: 0px 2px 5px grey;
    /* border: 2px solid red; */
}
.our-services-cards:hover{
    transform: scale(1.02);
    box-shadow: 0px 5px 10px grey;
}
.our-services-cards img{
    width: 420px;
    height: 280px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.services-info{
    text-align: center;
    position: relative;
}
.services-info ion-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(5, 85, 5);
    background: rgba(32, 203, 32, 0.975);
    outline: 6px solid  #f3f3f3;
    outline-offset: 0rem;
}
.services-info h1{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin: 1rem 0;
    padding-top: 1rem;
}
.services-info p{
    display: block;
    font-size: 14px;
    color: grey;
    text-transform: capitalize;
    line-height: 1.5rem;
    max-width: 25em;
    margin: 0rem auto;
}
.services-info .btn{
    margin: 1.5rem 0;
    margin-bottom: 5em;
    font-size: 12px;
    padding: 0.5rem;
    outline: none;
    color: var(--clr-white);
    border-radius: 0.5rem;
}
.services-info .btn:hover{
    color: var(--clr-green-10);
    background: rgb(115, 240, 115);
}

/* @MEDIA QUERY */
@media (min-width: 768px){

    .our-services-cards{
        width: 380px;
        height: 540px;
    }
    .our-services-cards img{
        width: 380px;
    }
}

/*==================
CONTACT SECTION
=====================*/

.contact{
    background: #c1bfbf43;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
}

.contact-info span{
    color: var(--clr-green-10);
    font-size: 17px;
    display: flex;
    gap: 0.75rem;
    letter-spacing: 3px;
}
.contact-info ion-icon{
    font-size: 30px;
}
.contact-info p{
    margin-bottom: 1.75rem;
    margin-top: -0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-form{
    background: var(--clr-white);
    padding: 2rem;
    margin-top: 3rem;
    width: 90%;
    border-radius: 0.5rem;
    padding-bottom: 4rem;
    position: relative;
    box-shadow: 0px 2px 5px grey;
}

.contact-form-info h2{
    font-size: 25px;
    color: #c1bfbf;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
}
.contact-form-info input, textarea{
    background: #c1bfbf43;
    border: none;
    border-radius: 0.25rem;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
    padding-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.contact-form-info textarea{
   padding: 0.75rem;
   height: 50%;
   font-size: 16px;
}
.contact-form-info .btn{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    outline: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 15px;
    font-weight: 600;
    animation: none;
}
.contact-form-info .btn:hover{
    color: var(--clr-green-10);
    background: rgb(115, 240, 115);
}

/* @MEDIA QUERY */
@media (min-width: 768px){

    .contact-form{
        width: 60%;
    }
}
/* @MEDIA QUERY */
@media (min-width: 992px){

    .contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contact-info{
        margin-top: 3rem;
    }
    .contact-form{
        width: 45%;
        margin-right: 3rem;
    }
}

/*
==================
FOOTER SECTION
==================
*/

.footer-center{
    background: black;
    color: #fff;
    text-align: center;
    padding: 3rem;
    height: 30vh;
}

.footer-center p{
    margin-top: 0.5rem;
}

.footer-center a ion-icon{
    color: #fff;
    font-size: 35px;
    margin: 1rem 0.5rem;
    text-decoration: none;
    transition: all 0.3s;
}
.footer-center a ion-icon:hover{
    color: var(--clr-green-10);
    transform: translateY(-10px);
}

#creator{
    text-transform: uppercase;
    color: var(--clr-green-10);
}